<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <img src="/images/austin_main_adventure.JPG" alt="adventure">

    <img src="/images/austin_main_romance.jpg" alt="adventure">

    <img src="/images/austin_main_family.jpg" alt="adventure">

    <img src="/images/austin_main_history.jpg" alt="adventure">

    <img src="/images/austin_main_nightlife.JPG" alt="adventure">

    <img src="/images/austin_main_relax.JPG" alt="adventure">

  </body>
</html>
