
<% include partials/header %>
    <!-- Page Content -->
    <div id="userForm">
      <form action="" method="">
        <!-- <label for="rlocation">Location:</label> -->
        <input class="input" type="text" name="location" placeholder="City, state"><br>
        <!-- <label for="rooms">Rooms:</label> -->
        <input class="input" type="text" name="rooms" placeholder="Number of rooms"><br>
        <!-- <label for="adults">Adults:</label> -->
        <input class="input" type="text" name="adults" placeholder="Number of adults"><br>
        <!-- <label for="Children">Children:</label> -->
        <input class="input" type="text" name="children" placeholder="Number of children"><br>
        <!-- <label for="startDate">Start Date:</label> -->
        <input class="input datepicker" type="text" name="startDate" placeholder="Start Date"><br>
        <!-- <label for="endDate">End Date:</label> -->
        <input class="input datepicker" type="text" name="endDate" placeholder="End Date"><br>
        <input type="hidden" name="getPricing" value="FALSE"><br>
        <input id="arrow" class="submit" type="submit" value="Submit">
      </form>
    </div>
    <!-- <div class="arrow">
      <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">What's important to you?</h1>
                <p id="help">Each image selected will be used in the processing of your next vacation</p>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button1">
                    <img class="img-responsive" id="image1" src="/images/austin_nightlife.png" alt="adventure">
                    <img class="img-responsive" id="image2" src="/images/austin_main_romance.JPG" alt="romance">
                    <img class="img-responsive" id="image3" src="/images/austin_main_family.JPG" alt="family">
                    <img class="img-responsive" id="image4" src="/images/austin_main_history.JPG" alt="history">
                    <img class="img-responsive" id="image5" src="/images/austin_main_nightlife.JPG" alt="nightlife">
                    <img class="img-responsive" id="image6" src="/images/austin_adventure_6.JPG" alt="relax">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button2">
                    <img class="img-responsive" id="image7" src="/images/austin_family_3.JPG" alt="adventure">
                    <img class="img-responsive" id="image8" src="/images/austin_adventure_5.JPG" alt="romance">
                    <img class="img-responsive" id="image9" src="/images/austin_dining_1.JPEG" alt="family">
                    <img class="img-responsive" id="image10" src="/images/austin_party_1.JPG" alt="history">
                    <img class="img-responsive" id="image11" src="/images/austin_hotel_1.jpeg" alt="nightlife">
                    <img class="img-responsive" id="image12" src="/images/austin_relax_1.JPG" alt="relax">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button3">
                    <img class="img-responsive" id="image13" src="/images/austin_adventure_7.JPG" alt="adventure">
                    <img class="img-responsive" id="image14" src="/images/austin_dining_2.JPEG" alt="romance">
                    <img class="img-responsive" id="image15" src="/images/austin_hotel_2.JPEG" alt="family">
                    <img class="img-responsive" id="image16" src="/images/austin_history_2.JPG" alt="history">
                    <img class="img-responsive" id="image17" src="/images/austin_nightlife_2.JPEG" alt="nightlife">
                    <img class="img-responsive" id="image18" src="/images/austin_romance_2.JPG" alt="relax">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button4">
                    <img class="img-responsive" id="image19" src="/images/austin_romance_3.JPG" alt="adventure">
                    <img class="img-responsive" id="image20" src="/images/austin_adventure_8.JPG" alt="romance">
                    <img class="img-responsive" id="image21" src="/images/austin_adventure_3.JPG" alt="family">
                    <img class="img-responsive" id="image22" src="/images/austin_nightlife_3.JPG" alt="history">
                    <img class="img-responsive" id="image23" src="/images/austin_relax_2.JPG" alt="nightlife">
                    <img class="img-responsive" id="image24" src="/images/Austin_downtown_excercise_indoors.PNG" alt="relax">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button5">
                    <img class="img-responsive" id="image25" src="/images/austin_relax_3.JPG" alt="adventure">
                    <img class="img-responsive" id="image26" src="/images/austin_adventure_4.JPG" alt="romance">
                    <img class="img-responsive" id="image27" src="/images/austin_history_4.JPG" alt="family">
                    <img class="img-responsive" id="image28" src="/images/austin_nightlife_4.JPG" alt="history">
                    <img class="img-responsive" id="image29" src="/images/austin_relax_4.JPG" alt="nightlife">
                    <img class="img-responsive" id="image30" src="/images/austin_romance_5.JPG" alt="relax">
                </a>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#" class="button" id="button6">
                    <img class="img-responsive" id="image31" src="/images/austin_relax_5.JPG" alt="adventure">
                    <img class="img-responsive" id="image32" src="/images/austin_romance_6.JPEG" alt="romance">
                    <img class="img-responsive" id="image33" src="/images/austin_relax_6.JPG" alt="family">
                    <img class="img-responsive" id="image34" src="/images/austin_romance_7.JPG" alt="history">
                    <img class="img-responsive" id="image35" src="/images/austin_family_2.JPG" alt="nightlife">
                    <img class="img-responsive" id="image36" src="/images/austin_main_relax.JPG" alt="relax">
                </a>
            </div>
        </div>
        <div>
            <a href="" class="refresh"><img src="/images/Refresh.svg" alt=""> Don't see what you're looking for? Click here to see more.</a>
            <form action="/" method="POST" id="banana">
            <input type="hidden" name="concepts" value="" id="hiddenbanana">
            <input class="submit results" type="submit" value="View Results">
            </form>
        </div>



<% include partials/footer %>
