<!DOCTYPE html>

  <html>
  <head>
    <title></title>
  </head>
  <body>






    <h2>Name: <%- body.accommodations[0].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[0].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[0].attraction.minRate %></h2>
    <h2>Images: <%- body.accommodations[0].image.urls[0] %></h2>




  </body>
  </html>
